<?xml version='1.0' encoding='utf-8'?>
<robot name="rm_eco63">
  <link name="base_root" />
  <joint name="base_root_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_root" />
    <child link="base_link" />
  </joint>
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.00020533 -8.2462E-05 0.042566" />
      <mass value="1" />
      <inertia ixx="0.00082414" ixy="-2.9336E-06" ixz="2.8699E-05" iyy="0.0008206" iyz="-2.2123E-06" izz="0.00068569" />
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/rm_eco63_arm/base_link.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/glb/base/base_v1.0.glb" />
      </geometry>
    </visual>
  </link>
  <link name="Link1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0122 -0.0001 -0.0346" />
      <mass value="1.6026" />
      <inertia ixx="0.0020078355" ixy="-0.000043739" ixz="-0.0006663696" iyy="0.0033806191" iyz="-0.0000114927" izz="0.0025157844" />
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/rm_eco63_arm/Link1.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/glb/eco63/link1_v1.0.glb" />
      </geometry>
    </visual>
  </link>
  <joint name="joint1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.1625" />
    <parent link="base_link" />
    <child link="Link1" />
    <axis xyz="0 0 1" />
    <limit effort="60" lower="-3.106" upper="3.106" velocity="3.14" />
  </joint>
  <link name="Link2">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1236 -0.0001 -0.0551" />
      <mass value="2.8169" />
      <inertia ixx="0.0030513772" ixy="-0.0000024724" ixz="-0.0036915182" iyy="0.059635782" iyz="-0.0000047509" izz="0.059632877" />
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/rm_eco63_arm/Link2.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="3.14159265359 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/glb/eco63/link2_v1.0.glb" />
      </geometry>
    </visual>
  </link>
  <joint name="joint2" type="revolute">
    <origin rpy="1.5708 -1.5708 3.1416" xyz="-0.086 0 0" />
    <parent link="Link1" />
    <child link="Link2" />
    <axis xyz="0 0 1" />
    <limit effort="60" lower="-3.106" upper="2.356" velocity="3.14" />
  </joint>
  <link name="Link3">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1603 -0.0001 0.0054" />
      <mass value="2.6857" />
      <inertia ixx="0.0029686196" ixy="-0.0000071564" ixz="-0.003498838" iyy="0.0669637576" iyz="-0.0000078642" izz="0.066058064" />
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/rm_eco63_arm/Link3.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/glb/eco63/link3_v1.0.glb" />
      </geometry>
    </visual>
  </link>
  <joint name="joint3" type="revolute">
    <origin rpy="0 0 0" xyz="0.41 0 0" />
    <parent link="Link2" />
    <child link="Link3" />
    <axis xyz="0 0 1" />
    <limit effort="30" lower="-2.932" upper="2.7576" velocity="3.14" />
  </joint>
  <link name="Link4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.0359 0.0037" />
      <mass value="0.625" />
      <inertia ixx="0.0005456336" ixy="-0.000000119" ixz="-0.0000001203" iyy="0.0003173345" iyz="-0.0000813961" izz="0.0005169693" />
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/rm_eco63_arm/Link4.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/glb/eco63/link4_v1.0.glb" />
      </geometry>
    </visual>
  </link>
  <joint name="joint4" type="revolute">
    <origin rpy="0 0 1.5708" xyz="0.38 0 -0.058899" />
    <parent link="Link3" />
    <child link="Link4" />
    <axis xyz="0 0 1" />
    <limit effort="10" lower="-3.106" upper="3.106" velocity="3.14" />
  </joint>
  <link name="Link5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0.0246 -0.0066" />
      <mass value="0.6743" />
      <inertia ixx="0.0006850659" ixy="-0.0000005787" ixz="-0.0000000103" iyy="0.0003873373" iyz="-0.0001135208" izz="0.0006178918" />
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/rm_eco63_arm/Link5.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/glb/eco63/link5_v1.0.glb" />
      </geometry>
    </visual>
  </link>
  <joint name="joint5" type="revolute">
    <origin rpy="1.5708 0 0" xyz="0 -0.11 0" />
    <parent link="Link4" />
    <child link="Link5" />
    <axis xyz="0 0 1" />
    <limit effort="10" lower="-3.106" upper="3.106" velocity="3.14" />
  </joint>
  <link name="Link6">
    <inertial>
      <origin rpy="0 0 0" xyz="0.001 0 -0.0101" />
      <mass value="0.107" />
      <inertia ixx="0.0000441232" ixy="-0.0000000636" ixz="-0.0000002997" iyy="0.0000350778" iyz="-0.0000000289" izz="0.0000654409" />
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/rm_eco63_arm/Link6.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rm_description/meshes/glb/eco63/link6_v1.0.glb" />
      </geometry>
    </visual>
  </link>
  <joint name="joint6" type="revolute">
    <origin rpy="-1.5708 0 0" xyz="0 0.0795 0" />
    <parent link="Link5" />
    <child link="Link6" />
    <axis xyz="0 0 1" />
    <limit effort="10" lower="-6.28" upper="6.28" velocity="3.14" />
  </joint>
</robot>