<?xml version="1.0" encoding="utf-8"?>
<robot name="rm_rx75_dual" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Humanoid shoulder mount: the two base axes point outwards and each
       arm's native -X direction points downwards in the world frame. -->
  <xacro:arg name="left_xyz" default="0 -0.075 1.5" />
  <xacro:arg name="left_rpy" default="1.5707963267949 -1.5707963267949 0" />
  <xacro:arg name="right_xyz" default="0 0.075 1.5" />
  <xacro:arg name="right_rpy" default="-1.5707963267949 -1.5707963267949 0" />

  <!-- Keep a massless root so downstream KDL/MoveIt consumers have a clean tree root. -->
  <link name="base_root" />

  <joint name="left_base_mount" type="fixed">
    <origin xyz="$(arg left_xyz)" rpy="$(arg left_rpy)" />
    <parent link="base_root" />
    <child link="left_base_link" />
  </joint>

  <joint name="right_base_mount" type="fixed">
    <origin xyz="$(arg right_xyz)" rpy="$(arg right_rpy)" />
    <parent link="base_root" />
    <child link="right_base_link" />
  </joint>

  <!-- Left arm -->
  <link
    name="left_base_link">
    <inertial>
      <origin
        xyz="3.53515085052307E-05 -0.000344112995119898 0.0504743485121994"
        rpy="0 0 0" />
      <mass
        value="0.651913537431184" />
      <inertia
        ixx="0.000695985861740614"
        ixy="2.06881020271026E-06"
        ixz="2.11905962706535E-06"
        iyy="0.000681094463816854"
        iyz="-6.8398972367929E-06"
        izz="0.000727115124180861" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_Link1">
    <inertial>
      <origin
        xyz="-0.488E-3 -13.727E-3 -10.765E-3"
        rpy="0 0 0" />
      <mass
        value="1.559" />
      <inertia
        ixx="2661.923E-6"
        ixy="-31.029E-6"
        ixz="9.34E-6"
        iyy="2302.513E-6"
        iyz="151.466E-6"
        izz="1676.59E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.191500058118611"
      rpy="0 0 0" />
    <parent
      link="left_base_link" />
    <child
      link="left_Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0194"
      upper="3.0194"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="left_Link2">
    <inertial>
      <origin
        xyz="-0.112E-3 -148.134E-3 4.111E-3"
        rpy="0 0 0" />
      <mass
        value="1.394" />
      <inertia
        ixx="6927.314E-6"
        ixy="0.302E-6"
        ixz="-2.679E-6"
        iyy="1045.02E-6"
        iyz="-801.141E-6"
        izz="6864.526E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.57079632679489 -1.5707963267949 0" />
    <parent
      link="left_Link1" />
    <child
      link="left_Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.6109"
      upper="3.1067"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="left_Link3">
    <inertial>
      <origin
        xyz="0.032E-3 15.649E-3 -11.225E-3"
        rpy="0 0 0" />
      <mass
        value="1.117" />
      <inertia
        ixx="1757.334E-6"
        ixy="0.706E-6"
        ixz="3.864E-6"
        iyy="1468.535E-6"
        iyz="-112.641E-6"
        izz="979.743E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint3"
    type="revolute">
    <origin
      xyz="0 -0.322 0"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="left_Link2" />
    <child
      link="left_Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0194"
      upper="3.0194"
      effort="30"
      velocity="3.925" />
  </joint>
  <link
    name="left_Link4">
    <inertial>
      <origin
        xyz="-0.001E-3 85.449E-3 4.844E-3"
        rpy="0 0 0" />
      <mass
        value="0.673" />
      <inertia
        ixx="1283.435E-6"
        ixy="-0.072E-6"
        ixz="0.003E-6"
        iyy="344.097E-6"
        iyz="229.828E-6"
        izz="1257.753E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="left_Link3" />
    <child
      link="left_Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.2689"
      upper="0.2618"
      effort="30"
      velocity="3.925" />
  </joint>
  <link
    name="left_Link5">
    <inertial>
      <origin
        xyz="-0.001E-3 -14.741E-3 -80.627E-3"
        rpy="0 0 0" />
      <mass
        value="1.13" />
      <inertia
        ixx="2343.205E-6"
        ixy="0.074E-6"
        ixz="-0.026E-6"
        iyy="1934.356E-6"
        iyz="443.762E-6"
        izz="1091.781E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint5"
    type="revolute">
    <origin
      xyz="0 0.2755 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="left_Link4" />
    <child
      link="left_Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0194"
      upper="3.0194"
      effort="10"
      velocity="3.925" />
  </joint>
  <link
    name="left_Link6">
    <inertial>
      <origin
        xyz="13.909E-3 -1.02E-3 3.245E-3"
        rpy="0 0 0" />
      <mass
        value="0.559" />
      <inertia
        ixx="354.166E-6"
        ixy="0.248E-6"
        ixz="27.608E-6"
        iyy="288.125E-6"
        iyz="-0.694E-6"
        izz="312.482E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.57079632679489 -1.5707963267949 0" />
    <parent
      link="left_Link5" />
    <child
      link="left_Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.9599"
      upper="0.9599"
      effort="10"
      velocity="3.925" />
  </joint>
  <link
    name="left_Link7">
    <inertial>
      <origin
        xyz="0.012883498052865615 -0.06802685939403529 0.00526417961581023"
        rpy="0 0 0" />
      <mass
        value="0.4048" />
      <inertia
        ixx="0.0005393349281932882"
        ixy="-0.0001227770843829096"
        ixz="-1.949420011133908E-05"
        iyy="0.000275709279620946"
        iyz="-8.925280487085298E-05"
        izz="0.0005558653531971319" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link7.STL" />
      </geometry>
    </collision>
    <visual>
      <origin
        xyz="0 -0.119000004117148 0"
        rpy="1.57079632679489 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.119000004117148 0"
        rpy="1.57079632679489 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_left_arm_v/Link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint7"
    type="revolute">
    <origin
      xyz="0.0155 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="left_Link6" />
    <child
      link="left_Link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.9024"
      upper="0.6109"
      effort="10"
      velocity="3.925" />
  </joint>
  <!-- Preserve the former Link8 pose as a tool frame without exposing a fake eighth joint. -->
  <link name="left_tool0" />
  <joint
    name="left_tool0_fixed"
    type="fixed">
    <origin
      xyz="0 -0.119000004117148 0"
      rpy="1.57079632679489 0 0" />
    <parent
      link="left_Link7" />
    <child
      link="left_tool0" />
  </joint>

  <!-- Right arm -->
  <link
    name="right_base_link">
    <inertial>
      <origin
        xyz="0.000247231299312832 0.000107089054159907 0.0504743485122055"
        rpy="0 0 0" />
      <mass
        value="0.651913537431336" />
      <inertia
        ixx="0.000693039456720291"
        ixy="-3.66140304370255E-07"
        ixz="6.39371684073528E-06"
        iyy="0.000684040868837749"
        iyz="2.26157110424948E-06"
        izz="0.000727115124181002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_Link1">
    <inertial>
      <origin
        xyz="0.018E-3 -13.67E-3 -10.1E-3"
        rpy="0 0 0" />
      <mass
        value="1.559" />
      <inertia
        ixx="2693.824E-6"
        ixy="-0.293E-6"
        ixz="2.442E-6"
        iyy="2324.503E-6"
        iyz="193.031E-6"
        izz="1662.437E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint1"
    type="revolute">
    <origin
      xyz="0 0 0.1915"
      rpy="0 0 0" />
    <parent
      link="right_base_link" />
    <child
      link="right_Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0194"
      upper="3.0194"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="right_Link2">
    <inertial>
      <origin
        xyz="-0.197E-3 -149.264E-3 -3.905E-3"
        rpy="0 0 0" />
      <mass
        value="1.384" />
      <inertia
        ixx="6726E-6"
        ixy="0"
        ixz="4E-6"
        iyy="1028E-6"
        iyz="750E-6"
        izz="6677E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.92549 0.92549 0.90588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 -1.5708 0" />
    <parent
      link="right_Link1" />
    <child
      link="right_Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.6109"
      upper="3.1067"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="right_Link3">
    <inertial>
      <origin
        xyz="-0.154E-3 -15.652E-3 -11.241E-3"
        rpy="0 0 0" />
      <mass
        value="1.117" />
      <inertia
        ixx="1756.36E-6"
        ixy="-4.257E-6"
        ixz="-0.403E-6"
        iyy="1468.096E-6"
        iyz="112.003E-6"
        izz="980.233E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint3"
    type="revolute">
    <origin
      xyz="0 -0.322 0"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="right_Link2" />
    <child
      link="right_Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0194"
      upper="3.0194"
      effort="30"
      velocity="3.925" />
  </joint>
  <link
    name="right_Link4">
    <inertial>
      <origin
        xyz="0 86.537E-3 -4.411E-6"
        rpy="0 0 0" />
      <mass
        value="0.665" />
      <inertia
        ixx="1209.416E-6"
        ixy="0.112E-6"
        ixz="0.007E-6"
        iyy="332.227E-6"
        iyz="-205.297E-6"
        izz="1191.661E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.925490196078431 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="right_Link3" />
    <child
      link="right_Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.2689"
      upper="0.2618"
      effort="30"
      velocity="3.925" />
  </joint>
  <link
    name="right_Link5">
    <inertial>
      <origin
        xyz="0 14.739E-3 -80.627E-3"
        rpy="0 0 0" />
      <mass
        value="1.13" />
      <inertia
        ixx="2343.069E-6"
        ixy="0.048E-6"
        ixz="0.015E-6"
        iyy="1934.377E-6"
        iyz="-443.673E-6"
        izz="1091.67E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint5"
    type="revolute">
    <origin
      xyz="0 0.2755 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="right_Link4" />
    <child
      link="right_Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0194"
      upper="3.0194"
      effort="10"
      velocity="3.925" />
  </joint>
  <link
    name="right_Link6">
    <inertial>
      <origin
        xyz="13.908E-3 -1.017E-3 -3.245E-3"
        rpy="0 0 0" />
      <mass
        value="0.559" />
      <inertia
        ixx="354.168E-6"
        ixy="-0.391E-6"
        ixz="-27.069E-6"
        iyy="288.127E-6"
        iyz="0.742E-6"
        izz="312.487E-6" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.156862745098039 0.156862745098039 0.156862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="right_Link5" />
    <child
      link="right_Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.9599"
      upper="0.9599"
      effort="10"
      velocity="3.925" />
  </joint>
  <link
    name="right_Link7">
    <inertial>
      <origin
        xyz="0.009919069110329167 0.06765824548889174 0.005247446369401909"
        rpy="0 0 0" />
      <mass
        value="0.395592830144305" />
      <inertia
        ixx="0.0005508313551283986"
        ixy="9.716722505344388E-05"
        ixz="-1.4995092763820632E-05"
        iyy="0.0002546219483334733"
        iyz="9.227801252615191E-05"
        izz="0.000547911950048062" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link7.STL" />
      </geometry>
    </collision>
    <visual>
      <origin
        xyz="0 0.119000004117148 0"
        rpy="-1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.119000004117148 0"
        rpy="-1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://rm_description/meshes/rm_rx75_arm/rm_rx75_right_arm_v/Link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint7"
    type="revolute">
    <origin
      xyz="0.0155 0 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="right_Link6" />
    <child
      link="right_Link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.6109"
      upper="1.9024"
      effort="10"
      velocity="3.925" />
  </joint>
  <link name="right_tool0" />
  <joint
    name="right_tool0_fixed"
    type="fixed">
    <origin
      xyz="0 0.119000004117148 0"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="right_Link7" />
    <child
      link="right_tool0" />
  </joint>
</robot>
